<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body style="background-color:lightGrey">
<h1>Sub-Rosa v0.0.3-beta</h1>

<p>Current Status: 
    <div id="status"></div>
</p>
<p>To Start Service</p>
<button id="start">Start</button>
<br>
<p>To Do Measurements</p>
<button id="measurement">Measurement</button>
<br>
<p>To Stop Service</p>
<button id="stop">Stop</button>
<br>
<p>To Add Custom Resolver</p>
<button id="add">Add Resolver</button>
<br>
<p>To Install Service</p>
<button id="install">Reload Service</button>
<br>
<p>To Uninstall Service</p>
<button id="uninstall">Uninstall Service</button>
<br>
<a href="info.html">Info</a>

</body>
<script src="./home.js"></script>
</html>